// Body resets
//
// Update the foundational and global aspects of the page.

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Bloomberg Prop Unicode N";
  src: url('/content/fonts/Bloomberg-PropU_N.ttf');
}

html {
  // --tint-color: $amber;

}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: $root-font-family;
  font-size: $root-font-size;
  line-height: $root-line-height;

  @media (min-width: $large-breakpoint) {
    font-size: $large-font-size;
  }
}

body {
  color: $grey-light;
  background-color: $body-bg;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body:before, body:after {
    content: "";
    position: fixed;
    background: $amber;
    left: 0;
    right: 0;
    height: $border-size;
    z-index: 999;
}
body:before {
    top: 0;
}
body:after {
    bottom: 0;
}
body {
    // outline: 10px solid $amber;
    border-left: $border-size solid $amber;
    border-right: $border-size solid $amber;
    padding-top: 28px;
    padding-bottom: $border-size;
    // z-index: 999;
    min-height: 100vh;
}

@media only screen and (max-width: 768px) {
  body {
    border-left: 0.5rem solid $amber;
    border-right: 0.5rem solid $amber;
  }
  
  body:before, body:after {
    height: 0.5rem;
  }
}

::selection {
  background: rgb(188, 111, 41);
}

// No `:visited` state is required by default (browsers will use `a`)
a {
  color: $amber;
  text-decoration: none;

  // `:focus` is linked to `:hover` for basic accessibility
  &:hover,
  &:focus {
    // text-decoration: underline;
    background: $amber;
    color: black;
  }

  strong {
    color: inherit;
  }
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}

.about {
  max-width: 50%;
}

table {
  margin-bottom: 1rem;
  width: 100%;
  font-size: 85%;
  border: 2px solid black;
  border-collapse: collapse;
  color: black;
}

td,
th {
  padding: .25rem .5rem;
  border: 2px solid black;
}

th {
  text-align: left;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: $amber;
}

tbody tr:nth-child(even) td,
tbody tr:nth-child(even) th {
  background-color: $light-amber;
}

.adsense, .shoutout {
  position: relative;
  width: $ad-big-width;
  margin-left: auto;
  margin-right: auto;
}

.shoutout {
  h2 {
    margin-top: 0;
  }
  height: 200px;
}

.shoutout-container {
  padding: 15px;
  border: 1px solid $green;
}

.shoutout-title {
  padding-right: 1rem;
}

.shoutout-container h2, .shoutout-content {
  width: 436px;
  // text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical; 
}

.shoutout-container h2 {
  -webkit-line-clamp: 2;
}

.shoutout-content {
  color: $grey-medium;
  margin-bottom: 1rem;
  -webkit-line-clamp: 3;
}

.shoutout-footer {
  display: flex;
}

// .shoutout-link {
//   align-self: center;
//   color: $green;
//   text-decoration: underline;
// }

.shoutout-link:hover {
    background: $green;
    color: black;
}

.shoutout-button {
  border: 1px solid $green;
  background: $green;
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: $root-font-family;
  font-size: $root-font-size;
  line-height: $root-line-height;
}

.shoutout-button:hover {
  background: $light-green;
  color: black;
}

.shoutout-button-link {
  margin-left: auto;
}

@media only screen and (max-width: 768px) {
  .shoutout {
    width: $ad-small-width;
  }
  
  .shoutout-link {
    display: none;
  }
}

.adsense-container {
  // width: 468px;
  // margin-left: auto;
  // margin-right: auto;
  border: 1px solid $green;
  min-height: 10rem;
}

.aa-container {
  width: $ad-big-width;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 768px) {
  .aa-container {
    width: $ad-small-width;
  }
}

.adsense-header {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 99;
  font-size: 20px;
  margin: 0;
}

// @media only screen and (max-width: 768px) {
//   .adsense-container {
//     width: $ad-small-width;
//   }
// }

.embeddable-buttondown-form {
  text-align: center;
  word-spacing: -3px;
  letter-spacing: -3px;
  // width: 320px;
}

.embeddable-buttondown-form label {
  
}

.embeddable-buttondown-form input {
  height: 27px;
  background: $amber;
  color: black;
  font-size: 1.25rem;
  text-align: center;
  margin-top: 0.5rem;
  // padding: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: "Bloomberg", "Bloomberg Prop Unicode N", Verdana, Arial, sans-serif;
  padding: 0;
  display: inline-block;
  border: 2px solid $amber;
  -webkit-appearance: none;
  border-radius: 0;
}

// @media only screen and (min-device-width: 768px){
//   .embeddable-buttondown-form input {
//     font-size: 1rem;
// }

.embeddable-buttondown-form input:focus {
  background: $light-amber;
  box-shadow: 0 0 7px $amber;
  outline: none;
}

.embeddable-buttondown-form input[type=submit] {
  background: $green;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  // padding: 0.5rem;
  width: 30%;
  border-left: 2px solid black;
  min-width: max-content;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.embeddable-buttondown-form input:hover[type=submit] {
  background: $light-green;
  color: black;
}

.embeddable-buttondown-form input::placeholder {
  color: $grey-medium-dark;
}

@media only screen and (max-width: 768px) {
  .embeddable-buttondown-form input {
    font-size: 1rem;
  }
  
  .embeddable-buttondown-form input[type=email] {
    width: 60%;
  }
}
