// Pagination
// Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
// there are no more previous or next posts to show.

.pagination {
  background: linear-gradient($light-red, $red);
  font-size: 1.25rem;
  text-align: center;
  position: relative;
  left: calc(50% + 0.75rem);
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  // left: $border-size;
  width: calc(100vw - 1.5rem);
}

.pagination-items {
  // max-width: 35rem;
  max-width: 728px;
  margin-left: auto;
  margin-right: auto;
}

.pagination-item {
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
  background: $amber;
  border-right: 2px solid black;
  border-left: 2px solid black;
  color: $grey-medium-dark;
}

a.pagination-item {
  color: black;
}

a:hover.pagination-item {
  background: $light-amber;
  color: white;
}

.pagination-item:first-child {
  float: left;
}

.pagination-item:last-child {
  float: right;
}

.page-number {
  text-align: center;
  color: white;
  display: inline-block;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
