// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts. Each
// page is wrapped in `.page` and is only used on the page layout.



.page,
.post {
  margin-bottom: 2rem;

  li + li {
    margin-top: .25rem;
  }
}

// Blog post or page title

.post-title a:hover {
  background-color: $red;
  color: black;
}

a.external-link {
  text-decoration: underline;
  // text-decoration-color: $light-amber;
}

.page-title,
.post-title,
.post-title a {
  color: $red;
}
.page-title,
.post-title {
  margin-top: 0;
}


.page-title img, .page-title span {
  display: inline;
  // float: left;
}

.title-logo {
  height: 8rem;
  padding: 0.5rem;
  border-radius: 0;
  margin-bottom: 0.75rem;
  margin-top: -0.75rem;
  filter: invert(59%) sepia(83%) saturate(675%) hue-rotate(352deg) brightness(100%) contrast(98%);
  
}

@media only screen and (max-width: 768px) {
  .title-logo {
    height: 6rem;
  }
}

.title-logo:hover {
  background: $amber;
  // content: url("/content/logo.png");
  filter: none;
}

//a.external-link {
//  &:link,
//  &:visited,
//  &:active {
//    text-decoration: underline;
//  }
//}

// .external-link::after {
//   content: "\00a0\2197";
// }

// Meta data line below post title
.post-date, .label {
  display: inline-block;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  color: $grey-medium;
  text-align: left;
}

h4 .post-date {
  margin-bottom: 0;
}

//article p {
//  text-align: justify;
//}

.cv {
  text-align: left;
}

// Related posts
.related {
//  padding-top: 2rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
//  border-top: 1px solid #eee;
  border-bottom: 1px solid $grey-medium;
}

.related-posts {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
  width: $ad-big-width;
  margin-left: auto;
  margin-right: auto;
  h3 {
    margin-top: 0;
  }

  li {
    small {
      font-size: 75%;
      // color: #999;
    }
    
      a {
        // color: $gray-5;
      }

//    a:hover {
//      color: #268bd2;
//      text-decoration: none;
//
//      small {
//        color: inherit;
//      }
//    }
  }
}

@media only screen and (max-width: 768px) {
  .related-posts {
    width: $ad-small-width;
  }
}

.multiplex-posts {
  // display: flex;
  position: relative;
  min-height: 2rem;
}

.multiplex-header {
  margin: 0;
  position: absolute;
  top: 1px;
  left: 0;
  z-index: 99;
}

.video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.whisperer a {
  color: $red;
}

.whisperer-link {
  color: $red;
}

.whisperer a:hover {
  background: $red;
  color: black;
}

.linked a {
  color: $amber;
}

.linked a:hover {
  background: $amber;
  color: black;
}

.linked blockquote {
  border-left: 0.25rem solid $amber;
}

.spon a, .sponsored a, .multiplex-header a, .adsense-header a, .spon-banner-header a {
  color: $green;
}

.spon a:hover, .multiplex-header a:hover, .adsense-header a:hover, .spon-banner-header a:hover {
  background: $green;
  color: black;
}

.spon blockquote {
  border-left: .25rem solid $green;
}

a.post-date {
  color: $grey-medium;
}

.spon-link, .linked-link, .whisperer-link {
 text-decoration: underline;
}

.spon-link {
  color: $green;
}

.spon-link a:hover {
  background: $green;
  color: black;
}

.widget-caption, .widget-link, .post-widget-container {
  width: $ad-big-width;
}

.post-widget-container {
  border: 1px solid $amber;
  // height: calc($ad-big-height * 3);
  height: 180px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

.widget-link {
  height: 180px;
  position: absolute;
  z-index: 2;
  text-align: center;
  padding: 1.25rem;
  
  span:first-child {
    padding-top: 0.5rem;
  }
  
  img {
    width: 80%;
    padding-top: 1.25rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  img, span {
    display: none;
  }
}

a.widget-link {
  vertical-align: middle;
  color: white;
}

a.widget-link:hover {
  background: rgba(2, 157, 6, 0.6);
  border: 1px solid white;
  margin-top: -1px;
  margin-left: -1px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: white;
  
  img, span {
    display: block;
  }
}

.multiplex {
  position: relative;
}

.multiplex:after {
  width: 100%;
  height: 100%;
  content: '';
  outline: black 1px solid;
  outline-offset: -1px;
  position: absolute;
  top: 0;
  left: 0;
}

.multiplex-button {
  width: 100px;
  height: 100%;
  max-height: calc(100% - 20px);
  min-height: 30px;
  bottom: 0;
  right: 0;
  position: absolute;
  background: black;
  z-index: 99;
}

.multiplex-x-button {
  width: 32px;
  height: 17px;
  top: 0;
  right: 0;
  position: absolute;
  background: black;
  z-index: 99;
}

.widget-caption {
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5rem;
  text-align: right;
  font-size: 75%;
  padding-right: 0.5rem;
}

@media only screen and (max-width: 768px) {
  .widget-caption, .widget-link, .post-widget-container {
    width: $ad-small-width;
  }
  
  .post-widget-container, .widget-link {
    // height: calc($ad-small-height * 3);
    height: 150px;
  }
  
  .widget-link {
    padding: 0.75rem;
    
    img {
    padding-top: 1rem;
    }
    
    span:first-child {
      padding: 0;
    }
  }
  
}

.post-content p:last-child a:last-child {
  display: none;
}

.ticker {
  background: $amber;
  color: black;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

a.ticker {
  color: black;
}

a.ticker:hover {
  color: white;
}
