$gray-1: #f9f9f9;
$gray-2: #ccc;
$gray-3: #767676;
$gray-4: #515151;
$gray-5: #313131;
$orange: #d28445;
$yellow: #f4bf75;
$green: #90a959;
$cyan: #75b5aa;
$blue: #268bd2;

// $blue: #6a9fb5;
$brown: #8f5536;

$grey-light: rgb(204, 204, 204);
$grey-medium: rgb(153, 153, 153);
$grey-medium-dark: rgb(102, 102, 102);
$grey-text: rgb(51, 51, 51);
$grey-dark: rgb(38, 38, 38);
$amber: rgb(252, 157, 15);
$green: rgb(2, 157, 6);
$red: rgb(188, 2, 2);
$light-red: rgb(216, 77, 77);

// $light-amber: color(srgb 0.965 0.965 0.784);
$light-amber: rgb(255, 181, 69);
$light-green: rgb(62, 202, 66);
$root-font-family: "Bloomberg Prop Unicode N", verdana, arial, sans-serif;
$root-font-size: 11pt;
$root-line-height: 1.5;
$body-color: $amber;
$body-bg: #000;
$link-color: $amber;
$border-color: #e5e5e5;
$large-breakpoint: 38em;
$large-font-size: 11pt;
$code-font-family: menlo, monaco, "Courier New", monospace;
$code-color: #bf616a;
$border-size: 0.75rem;
$ad-big-width: 468px;
$ad-big-height: 60px;
$ad-small-width: 320px;
$ad-small-height: 50px;
