{{ define "main" }}
{{ $dateTime := .PublishDate.Format "2006-01-02" }}
{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
{{ $widgetColor := "rgba(252, 157, 15, 1)" }}
{{ $widgetColorBottom := "rgba(252, 157, 15, 0.5)" }}
<main>

  {{ partial "title" . }}
  <!-- Starts <article> -->

    <br><br>
    <div class="post-content">
      {{ .Content }}
    </div>
    <hr>
    <!-- TradingView Widget BEGIN -->
    <div class="post-widget-container">
      <a
        href="https://www.tradingview.com/gopro/?share_your_love=iam23409"
        target="_blank"
        rel="noopener noreferrer"
        onclick="fathom.trackGoal('QSOOTBDP', 0);"
        class="widget-link"
      >
        <span>View full chart on</span>
        <img
          src="/content/tradingview.svg"
        />
        <span>Save $30 on a Pro or Premium TradingView account</span>
      </a>

    {{ $widgetTicker := "ASX:XJO" }}
    <!-- {{ $ticker := replaceRE `[\s\S]*\(([^)]*:[^)]*)\)[\s\S]*` `$1` .Title }}
    {{  if eq (strings.RuneCount $ticker) 7 }}
      {{ $widgetTicker = $ticker }}
    {{ end }} -->
    {{ $category := .Params.categories }}
    {{ if $category }}
      {{ $widgetTicker = print "ASX:" $category }}
    {{ end }}

    <div class="tradingview-widget-container">
      <div class="tradingview-widget-container__widget"></div>
      <script
        type="text/javascript"
        src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js"
        async
      >
        {
          "symbol": "{{ $widgetTicker }}",
          "width": "100%",
          "height": "100%",
          "locale": "en",
          "dateRange": "1D",
          "colorTheme": "dark",
          "trendLineColor": {{ $widgetColor }},
          "underLineColor": {{ $widgetColorBottom }},
          "underLineBottomColor": "rgba(252, 157, 15, 0)",
          "isTransparent": true,
          "autosize": true,
          "largeChartUrl": "https://asxspectator.com"
        }
      </script>
    </div>
    </div>
    <!-- TradingView Widget END -->
    <p class="spon widget-caption">
      <a
        href="https://www.tradingview.com/gopro/?share_your_love=iam23409"
        target="_blank"
        rel="noopener noreferrer"
        onclick="fathom.trackGoal('QSOOTBDP', 0);"
      >
        Save $30 on a Pro or Premium TradingView account
      </a>
    </p>

  </article>

  <hr>

  {{ partialCached "recent-posts.html" . }}
  {{ partialCached "sponsored-by.html" . }}

  <hr>

  {{ partialCached "subscribe.html" . }}

  <hr>
</main>
{{ end }}
