{{ define "main" }}
{{ $dateTime := .PublishDate.Format "2006-01-02" }}
{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
<main>
  <article class="post linked" style="margin-top: 30px;">
    <h1 class="post-title">
      <a href="{{ replaceRE `[\s\S]*\[.*\]\((https?://\S+)\)[\s\S]*` `$1` .RawContent }}" class="linked-link" target="_blank">&lt;LINK&gt;</a>
      <a href="{{ .RelPermalink }}" class="title-link">{{ .Title }}</a>
    </h1>
    {{ partial "metadata.html" . }}
    <br><br>
    {{ .Content }}
    
<!--     {{ $regex := `\(([^)]*:[^)]*)\)` }}
    {{ $matches := findRE $regex .Title }}
    {{ $matches }} -->
    
<!--     {{ .Title }} -->
    {{ $text := .Title }}
    {{ $ticker := replaceRE `[\s\S]*\(([^)]*:[^)]*)\)[\s\S]*` `$1` .Title }}
            
    <hr>
      <!-- TradingView Widget BEGIN -->
      <div class="post-widget-container">
        <a href="https://www.tradingview.com/gopro/?share_your_love=iam23409" target="_blank" rel="noopener noreferrer" onclick="fathom.trackGoal('QSOOTBDP', 0);" class="widget-link"><span>View full chart on</span><img src="/content/tradingview.svg"><span>Save $30 on a Pro or Premium TradingView account</span></a>
        
<!--         {{ if .Page.Params.ticker }}
          {{  $ticker := .Page.Params.ticker }}
        {{ end }} -->
        
       
        
        
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
        {
        "symbol": "{{ $ticker }}",
        "width": "100%",
        "height": "100%",
        "locale": "en",
        "dateRange": "1D",
        "colorTheme": "dark",
        "trendLineColor": "rgba(252, 157, 15, 1)",
        "underLineColor": "rgba(252, 157, 15, 0.5)",
        "underLineBottomColor": "rgba(252, 157, 15, 0)",
        "isTransparent": true,
        "autosize": true,
        "largeChartUrl": "http://hello.com"
      }
        </script>
      </div>
      </div>
      <!-- TradingView Widget END -->
      <p class="spon widget-caption"><a href="https://www.tradingview.com/gopro/?share_your_love=iam23409" target="_blank" rel="noopener noreferrer" onclick="fathom.trackGoal('QSOOTBDP', 0);">Save $30 on a Pro or Premium TradingView account</a></p>
    <hr>
    <ul class="archives-list">
      {{ range $name, $taxonomy := .Site.Taxonomies.year  }}
              <h3 id="">Recent Posts</a></h2>
              <ul class="related-posts">
                  {{ range first 3 .Pages }}
                  <li class="archive-posts">
                    <h4 class="linked">
                      <a href="{{ .Params.external_url }}" class="linked-link" target="_blank">&lt;LINK&gt;</a>
                      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                      <a class="post-date" href="{{ .RelPermalink }}">
                        <small>
                          <time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>
                        </small>
                      </a>
                    </h4>
                  </li>
                  {{ end }}
              </ul>
      {{- end -}}
    </ul>
    <hr>
    {{ range $name, $taxonomy := .Site.Taxonomies.category.linked }}
          <h2 id="{{ $name }}"><a href="/2022/">{{ $name }}</a> <a href="#top">&#8599;</a></h2>
          <ul class="related-posts">
              {{ .Content }}
              <li class="archive-posts">
                <h4 class="linked">
                  <a href="{{ .Params.external_url }}" class="linked-link" target="_blank">&lt;LINK&gt;</a>
                  <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                  <a class="post-date" href="{{ .RelPermalink }}">
                    <small>
                      <time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>
                    </small>
                  </a>
                </h4>
              </li>
          </ul>
    {{- end -}}
  </article>
</main>
{{ end }}
