<footer class="footer">
  <div class="spon-banner-wrapper">
    <ins class="adsbygoogle"
      style="display:block; height: 120px;"
      data-ad-format="fluid"
      data-ad-layout-key="-gc-28+2n-14+7r"
      data-ad-client="ca-pub-6297866031873651"
      data-ad-slot="8663556443"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  <br>
  <small>&copy; <time datetime="">2022-2023</time>. All rights reserved.<p>Made on Gadigal Land of the Eora Nation.</p>
  </small>
</footer>
