<footer class="footer">

  <div class="spon-banner-wrapper">
       <h1 class="spon-banner-header">
      <a class="spon-link" href="#">&lt;AD&gt;</a>
    </h1>
     <ins
      class="adsbygoogle"
      style="display: block; margin-left: 5px"
      data-ad-format="fluid"
      data-ad-layout-key="-gw-g+3x-7l+3t"
      data-ad-client="ca-pub-6297866031873651"
      data-ad-slot="8663556443"
    ></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

  </div>
  <br>
  <small>&copy; <time datetime="">2022-2023</time>. All rights reserved.<p>Made on Gadigal Land of the Eora Nation.</p>
  </small>
</footer>
