<div class="banner">
    <!--     <iframe width="100%" height="27" frameborder="0" scrolling="no" src="https://marketools.plus500.com/Widgets/LineFeedsAffiliates?hl=en&th=Dark&width=1600&cat=Indices&isNT=True&id=131797&tags=widg+strip&pl=2"></iframe> -->
        <div class="banner-link"><a href="https://www.tradingview.com/gopro/?share_your_love=iam23409" target="_blank" rel="noopener noreferrer" onclick="fathom.trackGoal('VB8UQY19', 0);"><span>Save $30 on a Pro or Premium</span><img src="/content/tradingview.svg"><span>account</span><span style="clear: left;"></span></a></div>
        <!-- TradingView Widget BEGIN -->
        <div class="hide-tradingview-logo">
        <div class="tradingview-widget-container" style="margin-top: -8px;">
          <div class="tradingview-widget-container__widget"></div>
          <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
            {
            symbols: [
              {
                "description": "S&P/ASX 200",
                "proName": "ASX:XJO"
              },
              {
                "description": "All Ordinaries",
                "proName": "INDEX:AORD"
              },{{ $ticker := .Site.RegularPages | first 10 }},
              {
                "proName": "FX:AUDUSD",
                "description": "AUD/USD"
              },
              {
                "description": "Bitcoin/USD",
                "proName": "BITSTAMP:BTCUSD"
              },
              {
                "description": "Gold/USD",
                "proName": "OANDA:XAUUSD"
              }
            ],
            "showSymbolLogo": false,
            "colorTheme": "dark",
            "isTransparent": true,
            "displayMode": "regular",
            "largeChartUrl": "http://127.0.0.1:4000/archive/tag/{symbolname}",
            "locale": "en"
          }
        </script>
        </div>
    </div>
        <!-- TradingView Widget END -->
</div>

<header class="masthead" >
<nav id="date">
        <div class="date-nav"><time id="date-nav"></time></div>
</nav>
    <nav id="top-level">
        <ul>
                <li class="left"><a href="/" title="Home"><img src="/content/logo.svg">
                     <span>&lt;{{ .Site.Title }}&gt;</span>
                    </a></li>
                    <li class="right first"><a href="/archive/">Archive</a></li>
                    <li class="right"><a href="/sponsorship/">Sponsorship</a></li>
                    <li class="right"><a href="/newsletter/">Newsletter</a></li>
                    <li class="right"><a href="/contact/">Contact</a></li>
            </h3>
        </ul>
    </nav>
</header>

<div class="spon-banner-wrapper">
          
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6297866031873651"
         crossorigin="anonymous"></script>
    <h1 class="spon-banner-header">
      <a class="spon-link" href="#">&lt;AD&gt;</a>
    </h1>
    <ins class="adsbygoogle"
         style="display:block; margin-left: 5px;"
         data-ad-format="fluid"
         data-ad-layout-key="-gw-g+3x-7l+3t"
         data-ad-client="ca-pub-6297866031873651"
         data-ad-slot="8663556443"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    
</div>












