<div class="banner">
  <div class="banner-link">
    <a
      href="https://www.tradingview.com/gopro/?share_your_love=iam23409"
      target="_blank"
      rel="noopener noreferrer"
      onclick="fathom.trackGoal('VB8UQY19', 0);"
    >
      <span>Save $30 on a Pro or Premium</span>
      <img src="/content/tradingview.svg" />
      <span>account</span>
      <span style="clear: left"></span>
    </a>
  </div>
  <!-- TradingView Widget BEGIN -->
  <div class="hide-tradingview-logo">
    <div class="tradingview-widget-container" style="margin-top: -8px">
      <div class="tradingview-widget-container__widget"></div>
      <script
        type="text/javascript"
        src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js"
        async
      >
        {
        "symbols": [
          {
            "title": "S&P/ASX 200",
            "proName": "ASX:XJO"
          },
          {
            "title": "All Ordinaries",
            "proName": "INDEX:AORD"
          },
          {{ range first 20 (where .Site.RegularPages "Type" "post") }}
            {{ $ticker := replaceRE `[\s\S]*\(([^)]*:[^)]*)\)[\s\S]*` `$1` .Title }}
            {{  if eq (len $ticker) 7 }}
              {
                "title": "{{ index (split $ticker ":") 1 }}",
                "proName": "{{ $ticker }}"
              },
            {{ end }}
          {{ end }}
          {
            "proName": "FX:AUDUSD",
            "title": "AUD/USD"
          },
          {
            "title": "Bitcoin/AUD",
            "proName": "BINANCE:BTCAUD"
          },
          {
            "title": "Gold/AUD",
            "proName": "PEPPERSTONE:XAUAUD"
          }
        ],
        "showSymbolLogo": false,
        "colorTheme": "dark",
        "isTransparent": true,
        "displayMode": "regular",
        "locale": "en"
        }
      </script>
    </div>
  </div>
  <!-- TradingView Widget END -->
</div>

<header class="masthead">
  <nav id="date">
    <div class="date-nav"><time id="date-nav"></time></div>
  </nav>
  <nav id="top-level">
    <ul>
      <li class="left">
        <a href="/" title="Home">
          <img
            src="/content/logo.svg"
            alt="ASX Spectator logo"
            width="30"
            height="30"
          />
          <span>&lt;{{ .Site.Title }}&gt;</span>
        </a>
      </li>
      <li class="right first">
        <a href="/archive/">Archive</a>
      </li>
      <li class="right">
        <a href="/sponsorship/">Sponsorship</a>
      </li>
      <li class="right">
        <a href="/newsletter/">Newsletter</a>
      </li>
      <li class="right">
        <a href="/contact/">Contact</a>
      </li>
    </ul>
  </nav>
  <br>
  <center><iframe data-aa='2243675' src='//ad.a-ads.com/2243675?size=728x90&background_color=000000&text_color=999999&title_color=029d06&title_hover_color=fc9d0f&link_color=029d06&link_hover_color=fc9d0f' style='width:728px; height:90px; border: 1px solid #029d06; padding:0; overflow:hidden; background-color: transparent;'></iframe></center>
  <!-- <div class="spon-banner-wrapper">
       <h1 class="spon-banner-header">
      <a class="spon-link" href="#">&lt;AD&gt;</a>
    </h1>
     <ins
      class="adsbygoogle"
      style="display: block; margin-left: 5px"
      data-ad-format="fluid"
      data-ad-layout-key="-gw-g+3x-7l+3t"
      data-ad-client="ca-pub-6297866031873651"
      data-ad-slot="8663556443"
    ></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div> -->
</header>
