<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {{ $title := print .Title " - " .Site.Title }} {{ if .IsHome }}{{ $title =
  .Site.Title }}{{ end }}
  <title>{{ $title }}</title>

  {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" />

  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/content/favicons/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/content/favicons/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/content/favicons/favicon-16x16.png"
  />
  <link rel="manifest" href="/content/favicons/site.webmanifest" />
  <link
    rel="mask-icon"
    href="/content/favicons/safari-pinned-tab.svg"
    color="#5bbad5"
  />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="theme-color" content="#ffffff" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@ASXSpectator" />
  <meta name="twitter:creator" content="@SXSpectator" />
  <meta property="og:url" content="{{ .Permalink }}" />
  {{ with .Title }}
  <meta property="og:title" content="{{ . }}" />
  {{ else }}
  <meta property="og:title" content="{{ .Site.Title }}" />
  {{ end }}
  <meta property="og:description" content="{{ .Summary }}" />
  <meta
    property="og:image"
    content="https://cdn.asxspectator.com{{ replaceRE `.html$` `.png` .RelPermalink}}"
  />

  <script
    data-auto="false"
    src="https://cdn.usefathom.com/script.js"
    data-site="PWOJKKPV"
    defer
  ></script>
  <script>
    window.addEventListener("load", (event) => {
      if (window.location.search != "?hcti=1") {
        fathom.trackPageview();
      }
    });
  </script>
  <script
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6297866031873651"
    crossorigin="anonymous"
  ></script>
  <style>
    @font-face {
      font-family: "Bloomberg Prop Unicode N";
      src: url("/content/fonts/Bloomberg-PropU_N.ttf");
    }
    html {
      font-family: "Bloomberg Prop Unicode N", Verdana, Arial, sans-serif;
    }
    body {
      font-family: "Bloomberg Prop Unicode N", Verdana, Arial, sans-serif;
    }
  </style>
</head>
