<h3>Supported by</h3>
	{{ $posts := where site.RegularPages "Type" "post" }}
	{{ $posts = where $posts ".Params.categories" "intersect" (slice "sponsored") }}

	{{ range $spon := first 1 $posts }}
	<article class="post spon">
	  <h1 class="post-title">
		<a href="{{ replaceRE `[\s\S]*\[.*\]\((https?://\S+)\)[\s\S]*` `$1` $spon.RawContent }}" class="spon-link" target="_blank">&lt;SPON&gt;</a>
		<a href="{{ $spon.RelPermalink }}" class="title-link">{{ $spon.Title }}</a>
	  </h1>
	  {{ partial "metadata.html" . }}
	  <br><br>
	  <div class="post-content">
	  	{{ $spon.Content }}
		</div>
	{{ end }}
  </article>
