<h1 class=""><a href="/subscribe">Subscribe to the newsletter</a></h1>

<p>Receive whispers every day in your inbox.</p>

<!-- <p class="label">Enter email</p> -->

<form
  action="https://buttondown.email/api/emails/embed-subscribe/asxwhisperer"
  method="post"
  target="popupwindow"
  onsubmit="fathom.trackGoal('Y92MOTZX', 0);window.open('https://buttondown.email/asxwhisperer', 'popupwindow')"
  class="embeddable-buttondown-form"
>
<!--   <label for="bd-email">Enter email: </label> -->
<!--   <input type="label" value="Enter email:"/> -->
  <input type="email" name="email" id="bd-email" placeholder="<ENTER EMAIL>"/>
  <input type="submit" value="<SUBSCRIBE>" />
</form>
